**/__pycache__/*
**/*.pth
experiments/exp_002/*
experiments/exp_003/*
experiments/exp_004/*
experiments/exp_007/*
experiments/exp_008/*
experiments/exp_009/*
experiments/exp_010/*
experiments/exp_011/*
experiments/exp_012/*
experiments/exp_013/*
experiments/exp_014/*
experiments/exp_0114/*