**/__pycache__/*
**/*.pth
experiments/exp_002/*
experiments/exp_003/*
experiments/exp_004/*
experiments/exp_007/*
experiments/exp_008/*
experiments/exp_009/*
experiments/exp_010/*
experiments/exp_011/*
experiments/exp_012/*
experiments/exp_013/*
# experiments/exp_014/*
experiments/exp_015/*
experiments/exp_015/*
experiments/exp_017/*
experiments/exp_018/*
experiments/exp_019/*
experiments/exp_020/*
experiments/exp_021/*
experiments/exp_024/*
experiments/exp_025/*
experiments/exp_026/*
*.txt
experiments/exp_0114/*